
*.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/Constants.cpython-37.pyc
ass1/new 1.csv
ass1/new 1.txt
books_json_file.json
ass1/almost final/305690760_305554917.zip
ass1/almost final/almost final.rar
ass1/almost final/project-information.docx
ass1/almost final/README.txt
ass1/almost final/text-tei.xml
ass1/almost final/text.html
ass1/README.txt
books_844_880_version_1.0.json
books_json_file.json
ass1/README.txt
