
*.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/Constants.cpython-37.pyc
ass1/new 1.csv
ass1/new 1.txt
books_json_file.json
ass1/almost final/305690760_305554917.zip
ass1/almost final/almost final.rar
ass1/almost final/project-information.docx
ass1/almost final/README.txt
ass1/almost final/text-tei.xml
ass1/almost final/text.html
ass1/README.txt
books_844_880_version_1.0.json
books_json_file.json
ass1/README.txt
books_db
books_910_1000_version_1.0.json
books_40402_40470_version_1.1.json
books_40250_40260_version_1.1.json
books_40244_40250_version_1.1.json
books_40220_40230_version_1.1.json
books_40210_40220_version_1.1.json
books_40200_40210_version_1.1.json
books_40190_40200_version_1.1.json
books_40180_40190_version_1.1.json
books_40173_40180_version_1.1.json
books_40160_40170_version_1.1.json
books_40150_40160_version_1.1.json
books_40140_40150_version_1.1.json
books_40130_40140_version_1.1.json
books_40120_40130_version_1.1.json
books_40113_40120_version_1.1.json
books_40100_40110_version_1.1.json
books_40090_40100_version_1.1.json
books_40079_40090_version_1.1.json
books_40035_40050_version_1.1.json
books_40034_40035_version_1.1.json
books_1001_1200_version_1.1.json
books_1001_1005_version_1.1.json
books_1000_1010_version_1.1.json
__pycache__/DBInit.cpython-37.pyc
__pycache__/DBHandler.cpython-37.pyc
books_1000_1010_version_1.1.json
books_1001_1005_version_1.1.json
books_1001_1200_version_1.1.json
books_910_1000_version_1.0.json
books_40410_40550_version_1.1.json
books_40427_40470_version_1.1.json
books_40496_40510_version_1.1.json
db_json.json
