body {
    margin: 0;
    padding: 0;
}

#wrap {
    margin: 0 auto;
}

#header {
    padding: 10px;
}

#map {
    position: absolute;
    width: 75%;
    height: 100%;
    left: 25%;
}

.map-overlay {
    position: absolute;
    width: 25%;
    left: 0;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fff;
    max-height: 100%;
    overflow: hidden;
}

.map-overlay fieldset {
    display: none;
    background: #ddd;
    border: none;
    padding: 10px;
    margin: 0;
}

.map-overlay input {
    display: block;
    border: none;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    margin: 0;
}

.map-overlay .listing {
    overflow: auto;
    max-height: 100%;
}

.map-overlay .listing>* {
    display: block;
    padding: 5px 10px;
    margin: 0;
}

.map-overlay .listing a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #404;
    text-decoration: none;
}

.map-overlay .listing a:last-child {
    border: none;
}

.map-overlay .listing a:hover {
    background: #f0f0f0;
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
}

img {
    border-radius: 20px 0px 0px 20px;
}

.mapboxgl-popup-content {
  display: grid;
    text-align: center;
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
 margin: 0 auto;
 padding: 0px;
 text-align: center;
/* border-radius */
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px;
/* box-shadow */
 -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
 -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
 box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

.left-half {
    grid-column: 1;
}

.right-half {
    background-image: url(./Paper-Texture.jpg);
    grid-column: 2;
    border-radius: 0px 20px 20px 0px;
}

/* search by place*/
.filter-ctrl {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    width: 180px;
}

.filter-ctrl input[type=text] {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    width: 100%;
    border: 0;
    background-color: #fff;
    height: 40px;
    margin: 0;
    color: rgba(0,0,0,.5);
    padding: 10px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
    border-radius: 3px;
}